---

- name: Download GSearch from Sourceforge
  get_url:
    url: "http://downloads.sourceforge.net/fedora-commons/fedoragsearch-2.7.zip"
    timeout: 90
    dest: "/tmp/downloads/fedoragsearch-2.7.zip"

- name: UnArchive GSearch
  unarchive: src=/tmp/downloads/fedoragsearch-2.7.zip dest=/tmp/downloads remote_src=yes

- name: Copy GSearch to Tomcat Webapps Directory
  copy: src=/tmp/downloads/fedoragsearch-2.7/fedoragsearch.war dest=/usr/share/tomcat/webapps/fedoragsearch.war

- name: Download Solr from Apache.org
  get_url:
    url: "https://archive.apache.org/dist/lucene/solr/4.2.0/solr-4.2.0.tgz"
    timeout: 90
    dest: "/tmp/downloads/solr-4.2.0.tgz"

- name: UnArchive Solr
  unarchive: src=/tmp/downloads/solr-4.2.0.tgz dest=/tmp/downloads remote_src=yes

- name: Create new directory for fedora
  file: path={{ fedora_home }}/solr state=directory mode=0755

- name: Copy solr example files to the new directory
  copy: src=/tmp/downloads/solr-4.2.0/example/solr/ dest={{ fedora_home }}/solr/

- name: Copy solr to Tomcat Webapps Directory
  copy: src=/tmp/downloads/solr-4.2.0/dist/solr-4.2.0.war dest=/usr/share/tomcat/webapps/solr.war

- name: Insert "fgsAdmin" user in fedora-users.xml
  blockinfile:
    dest: /usr/local/fedora/server/config/fedora-users.xml
    block: |
      <user name="fgsAdmin" password="fgsAdmin">
        <attribute name="fedoraRole">
          <value>administrator</value>
        </attribute>
      </user>

- name: Restart Fedora to deploy GSearch and Solr
  command: "{{ item }}"
  with_items:
    - /usr/share/tomcat/bin/shutdown.sh
    - /usr/share/tomcat/bin/startup.sh

- name: Backup original fgsconfig-basic-for-islandora.properties
  command: mv /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties.bak

#- name: Ensure old fgsconfig-basic-for-islandora.properties is removed
#  file: path=/usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties state=absent

- name: Configure fgsconfig-basic-for-islandora.properties
  template:
    src: "fgsconfig-basic-for-islandora.properties.j2"
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties
    owner: "tomcat"
    group: "tomcat"

- name: Backup original fgsconfig-basic.xml
  command: cp /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml.bak

- name: Configure fgsconfig-basic.xml 
  replace: 
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml
    regexp: >
      ^(.+)fgsconfig-basic.properties(.+)$
    replace: >
      \1fgsconfig-basic-for-islandora.properties\2

- name: Assert platform is supported
  tags: ant
  assert:
    that:
      - ansible_os_family in ['Archlinux', 'Debian', 'RedHat', 'Suse']

- name: Install Ant download directory (local)
  tags: ant
  local_action: file
    state=directory
    owner=0
    group=0
    mode=0755
    dest=/usr/local/src/ansible/data

- name: Download Ant (local)
  tags: ant
  local_action: get_url
    dest=/usr/local/src/ansible/data/apache-ant-1.9.7-bin.tar.gz
    url=http://mirror.ox.ac.uk/sites/rsync.apache.org/ant/binaries/apache-ant-1.9.7-bin.tar.gz
    owner=0
    group=0
    mode=0644

- name: Install Ant installation directory
  tags: ant
  file:
    state=directory
    owner=0
    group=0
    mode=0755
    dest=/usr/share/ant


- name: Install Ant
  tags: ant
  unarchive:
    src=/usr/local/src/ansible/data/apache-ant-1.9.7-bin.tar.gz
    dest=/usr/share/ant

- name: Build fgsconfig
  command: >
    /usr/share/ant/apache-ant-1.9.7/bin/ant -f /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml

- name: Backup original solr schema.xml
  command: mv -v /usr/local/fedora/solr/collection1/conf/schema.xml /usr/local/fedora/solr/collection1/conf/schema.bak

- name: Copy ANT generated schema to schema.xml
  command: cp -v /usr/local/fedora/tomcat/webapps/fedoragsearch/WEB-INF/classes/fgsconfigFinal/index/FgsIndex/conf/schema-4.2.0-for-fgs-2.7.xml /usr/local/fedora/solr/collection1/conf/schema.xml

- name: Add the Solr context file
  template:
    src: "solr.xml.j2"
    dest: /usr/share/tomcat/conf/Catalina/localhost/solr.xml
    owner: "tomcat"
    group: "tomcat"

- name: Restart Tomcat for Solr
  command: "{{ item }}"
  with_items:
    - /usr/share/tomcat/bin/shutdown.sh
    - /usr/share/tomcat/bin/startup.sh
