---
- name: Download GSearch from Sourceforge
  get_url:
    url: "http://downloads.sourceforge.net/fedora-commons/fedoragsearch-2.7.zip"
    timeout: 90
    dest: "/tmp/downloads/fedoragsearch-2.7.zip"

- name: UnArchive GSearch
  unarchive:
    src: /tmp/downloads/fedoragsearch-2.7.zip
    dest: /tmp/downloads
    remote_src: yes

- name: Copy GSearch to Tomcat Webapps Directory
  copy:
    src: "/tmp/downloads/fedoragsearch-2.7/fedoragsearch.war"
    dest: "/usr/share/tomcat/webapps/fedoragsearch.war"
    remote_src: true

- name: Download Solr from Apache.org
  get_url:
    url: "https://archive.apache.org/dist/lucene/solr/4.2.0/solr-4.2.0.tgz"
    timeout: 90
    dest: "/tmp/downloads/solr-4.2.0.tgz"

- name: UnArchive Solr
  unarchive:
    src: /tmp/downloads/solr-4.2.0.tgz
    dest: /tmp/downloads
    remote_src: yes

- name: Create new directory for Fedora Solr
  file:
    path: "{{ fedora_home }}/solr"
    state: directory
    mode: 0755
    owner: tomcat
    group: tomcat

# Ansible copy doesn't support recusive copy of directories
- name: Copy solr example files to the new directory
  become: yes
  become_user: tomcat
  shell: >
    cp --recursive -v /tmp/downloads/solr-4.2.0/example/solr/* "{{ fedora_home }}/solr/"

- name: Copy solr to Tomcat Webapps Directory
  copy:
    src: /tmp/downloads/solr-4.2.0/dist/solr-4.2.0.war
    dest: /usr/share/tomcat/webapps/solr.war
    remote_src: true

- name: Insert "fgsAdmin" user in fedora-users.xml
  blockinfile:
    marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"
    dest: /usr/local/fedora/server/config/fedora-users.xml
    insertbefore: </users>
    block: |
      <user name="fgsAdmin" password="{{ gsearch_pass }}">
        <attribute name="fedoraRole">
          <value>administrator</value>
        </attribute>
      </user>

- name: Restart tomcat to deploy GSearch and Solr wars
  service:
    name: "tomcat"
    state: "restarted"

- name: Backup original fgsconfig-basic-for-islandora.properties
  copy:
    src: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties.bak
    remote_src: true

- name: Configure fgsconfig-basic-for-islandora.properties
  template:
    src: "fgsconfig-basic-for-islandora.properties.j2"
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties
    owner: "tomcat"
    group: "tomcat"

- name: Backup original fgsconfig-basic.xml
  copy:
    src: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml.bak

- name: Configure fgsconfig-basic.xml
  replace:
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml
    regexp: >
      ^(.+)fgsconfig-basic.properties(.+)$
    replace: >
      \1fgsconfig-basic-for-islandora.properties\2

- name: Build fgsconfig
  become: yes
  become_user: tomcat
  command: >
    /opt/apache/ant/bin/ant -f /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml

- name: Copy ANT generated schema to schema.xml
  become: yes
  become_user: tomcat
  copy:
    src: /usr/share/tomcat/webapps/fedoragsearch/WEB-INF/classes/fgsconfigFinal/index/FgsIndex/conf/schema-4.2.0-for-fgs-2.7.xml
    dest: "{{ fedora_home }}/solr/collection1/conf/schema.xml"
    remote_src: true
    backup: yes

- name: Add the Solr context file
  template:
    src: "solr.xml.j2"
    dest: /usr/share/tomcat/conf/Catalina/localhost/solr.xml
    owner: "tomcat"
    group: "tomcat"

- name: Get Discovery Garden basic Solr config
  git:
    dest: /tmp/downloads/basic-solr-config
    repo: https://github.com/discoverygarden/basic-solr-config.git
    version: 4.x
    recursive: yes
    force: yes
    # We have to force this to make it idempotent because we'll be
    # making changes to these files. Probably we should just fork the
    # upstream code in the near future.

- name: Adjust path to Tomcat in solr transforms
  shell: |
    cd /tmp/downloads/basic-solr-config/islandora_transforms
    sed -i 's#/usr/local/fedora/tomcat#/var/lib/tomcat#g' ./*xslt

- name: Get Discovery Garden gsearch extensions
  git:
    dest: /tmp/downloads/dgi_gsearch_extensions
    repo: https://github.com/discoverygarden/dgi_gsearch_extensions.git

- name: Get Discovery Garden gsearch extensions
  shell: |
    cd /tmp/downloads/dgi_gsearch_extensions
    /opt/apache/maven/bin/mvn -q package
  args:
    creates: /tmp/downloads/dgi_gsearch_extensions/target/gsearch_extensions-0.1.1-jar-with-dependencies.jar

- name: Deploy dgi_gsearch_extensions
  become: true
  become_user: tomcat
  copy:
    src: /tmp/downloads/dgi_gsearch_extensions/target/gsearch_extensions-0.1.1-jar-with-dependencies.jar
    dest: /var/lib/tomcat/webapps/fedoragsearch/WEB-INF/lib
    remote_src: yes

- name: Deploy basic solr config
  become: true
  become_user: tomcat
  shell: |
     cp -v /tmp/downloads/basic-solr-config/conf/*  {{ fedora_home }}/solr/collection1/conf
     cp -Rv /tmp/downloads/basic-solr-config/islandora_transforms /var/lib/tomcat/webapps/fedoragsearch/WEB-INF/classes/fgsconfigFinal/index/FgsIndex

- name: Restart tomcat
  service:
    name: "tomcat"
    state: "restarted"

- name: Wait for tomcat to restart
  wait_for:
    port: 8080
    delay: 10

- name: Run gsearch updateindex from FoxmlFiles
  uri:
    url: "http://localhost:8080/fedoragsearch/rest?operation=updateIndex&action=fromFoxmlFiles&value="
    method: "GET"
    status_code: 200

- name: Reload Solr core
  uri:
    url: "http://localhost:8080/solr/admin/cores?wt=json&action=RELOAD&core=collection1"
    method: "GET"
    status_code: 200
