---
- name: Download GSearch from Sourceforge
  get_url:
    url: "http://downloads.sourceforge.net/fedora-commons/fedoragsearch-2.7.zip"
    timeout: 90
    dest: "/tmp/downloads/fedoragsearch-2.7.zip"

- name: UnArchive GSearch
  unarchive:
    src: /tmp/downloads/fedoragsearch-2.7.zip
    dest: /tmp/downloads
    remote_src: yes

- name: Copy GSearch to Tomcat Webapps Directory
  copy:
    src: "/tmp/downloads/fedoragsearch-2.7/fedoragsearch.war"
    dest: "/usr/share/tomcat/webapps/fedoragsearch.war"
    remote_src: true

- name: Download Solr from Apache.org
  get_url:
    url: "https://archive.apache.org/dist/lucene/solr/4.2.0/solr-4.2.0.tgz"
    timeout: 90
    dest: "/tmp/downloads/solr-4.2.0.tgz"

- name: UnArchive Solr
  unarchive:
    src: /tmp/downloads/solr-4.2.0.tgz
    dest: /tmp/downloads
    remote_src: yes

- name: Create new directory for fedora
  file:
    path: "{{ fedora_home }}/solr"
    state: directory
    mode: 0755
    owner: tomcat
    group: tomcat

# Ansible copy doesn't support recusive copy of directories
- name: Copy solr example files to the new directory
  become: yes
  become_user: tomcat
  shell: >
    cp --recursive -v /tmp/downloads/solr-4.2.0/example/solr/* "{{ fedora_home }}/solr/"

- name: Copy solr to Tomcat Webapps Directory
  copy:
    src: /tmp/downloads/solr-4.2.0/dist/solr-4.2.0.war
    dest: /usr/share/tomcat/webapps/solr.war
    remote_src: true

- name: Insert "fgsAdmin" user in fedora-users.xml
  blockinfile:
    marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"
    dest: /usr/local/fedora/server/config/fedora-users.xml
    block: |
      <user name="fgsAdmin" password="{{ gsearch_pass }}">
        <attribute name="fedoraRole">
          <value>administrator</value>
        </attribute>
      </user>

- name: Restart tomcat to deploy GSearch and Solr wars
  service:
    name: "tomcat"
    state: "restarted"

- name: Backup original fgsconfig-basic-for-islandora.properties
  copy:
    src: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties.bak
    remote_src: true

- name: Configure fgsconfig-basic-for-islandora.properties
  template:
    src: "fgsconfig-basic-for-islandora.properties.j2"
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic-for-islandora.properties
    owner: "tomcat"
    group: "tomcat"

- name: Backup original fgsconfig-basic.xml
  copy:
    src: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml.bak

- name: Configure fgsconfig-basic.xml
  replace:
    dest: /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml
    regexp: >
      ^(.+)fgsconfig-basic.properties(.+)$
    replace: >
      \1fgsconfig-basic-for-islandora.properties\2

- name: Download Ant
  tags: ant
  get_url:
    url: http://mirror.ox.ac.uk/sites/rsync.apache.org/ant/binaries/apache-ant-1.9.7-bin.tar.gz
    dest: /tmp/downloads/apache-ant-1.9.7-bin.tar.gz
    owner: root
    group: root
    mode: 0644

- name: Install Ant installation directory
  tags: ant
  file:
    path: /opt/apache/
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Install Ant
  tags: ant
  unarchive:
    remote_src: yes
    src: /tmp/downloads/apache-ant-1.9.7-bin.tar.gz
    dest: /opt/apache

- name: Build link to /usr/bin/ant
  tags: ant
  file:
    state: link
    force: true
    src: /opt/apache/apache-ant-1.9.7/bin/ant
    dest: /usr/bin/ant

- name: Build fgsconfig
  command: >
    ant -f /usr/share/tomcat/webapps/fedoragsearch/FgsConfig/fgsconfig-basic.xml

- name: Copy ANT generated schema to schema.xml
  copy:
    src: /usr/share/tomcat/webapps/fedoragsearch/WEB-INF/classes/fgsconfigFinal/index/FgsIndex/conf/schema-4.2.0-for-fgs-2.7.xml
    dest: "{{ fedora_home }}/solr/collection1/conf/schema.xml"
    remote_src: true
    backup: yes

- name: Add the Solr context file
  template:
    src: "solr.xml.j2"
    dest: /usr/share/tomcat/conf/Catalina/localhost/solr.xml
    owner: "tomcat"
    group: "tomcat"

- name: Restart tomcat
  service:
    name: "tomcat"
    state: "restarted"
