<?php

// mostly from the Islandora Book solution pack
// See also https://github.com/Islandora/islandora/wiki/Working-With-Fedora-Objects-Programmatically-Via-Tuque

global $user;

$module_path = drupal_get_path("module", "islandora_book");
$datastreams_path = $module_path."/data/datastreams";
$col_pid ="{{ islandora_collection.pid }}";

// make sure we're not stuck talking as the anonymous user
drupal_static_reset('islandora_get_tuque_connection');

$connection = islandora_get_tuque_connection($user);
$repository = $connection->repository;

// Collection Properties
$collection = $repository->constructObject($col_pid);
$collection->owner = 'fedoraAdmin';
$collection->label = '{{ islandora_collection.label }}';
$collection->models = 'islandora:collectionCModel';
$collection->relationships->add(FEDORA_RELS_EXT_URI, 'isMemberOfCollection', 'islandora:root');


// Collection Policy Datastream.
$datastream = $collection->constructDatastream('COLLECTION_POLICY', 'M');
$datastream->label = 'COLLECTION_POLICY';
$datastream->mimetype = 'application/xml';
$datastream->setContentFromFile($datastreams_path."/islandora_book_collection_policy.xml", FALSE);
$collection->ingestDatastream($datastream);

// TN Datastream.
$datastream = $collection->constructDatastream('TN', 'M');
$datastream->label = 'TN';
$datastream->mimetype = 'image/png';
$datastream->setContentFromFile($module_path."/images/folder.png", FALSE);
$collection->ingestDatastream($datastream);

// Save repo
$repository->ingestObject($collection);
